body{
    display: flex;
    justify-content: center;
    align-content: center;

}

.shoot_wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50vw;
    height: 50vh;

}

#bg_canvas {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;

}

#fr_canvas {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 1;
    border: 1px solid black;

}

#text {
    position: relative;
    width: 15%;
    height: 500px;

}

.menu-btn {
    border-radius: 5%;
    width: 200px;
    height: 100px;
    outline: none;
    color: brown;
    background-color: moccasin;

}

#timer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 20%;
    z-index: 2;
    opacity: 0.3;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15vh;

}

#timerText {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: mediumspringgreen;
}

@font-face {
    font-family: gameover;
    src: url(fonts/18918.ttf);
}

.show {
    display: block;
    animation: showBlock 1s linear forwards;
}

@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#game-over {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-color: salmon;
    border-style: dotted;
    text-decoration-color: firebrick;
    font-family: gameover;
    font-size: 50px;
    opacity: 0;
    background-color: darkturquoise;
}

