body{
    display: flex;
    align-items: flex-start;
}

#siteWrap {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.form-cell {
    width: 100%;
}

#confirm-btn {
    background-color: aquamarine;
    border-color: aquamarine;
    border-radius: 5%;
    height: 40px;
    font-size: 25px;
    font-family: gameover;
}

.menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    left: 0px;
    margin: 10px;
    margin-left: 0px;
    margin-top: 0px;
}

#message {
    width: 100%;
    display: none;
    background-color: aquamarine;
    color: #000;
    position: relative;
    font-family: gameover;
    font-size: 25px;
    margin-left: 0px;
    margin-top: 0px;
}

#message p {
    padding: 10px 35px;
    font-size: 25px;
    font-family: gameover;
}

#rightSide {
    display: flex;
    position: relative;
    width: 30%;
    height: 50vh;
}

#res {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-self: stretch;
    justify-content: flex-start;
    flex-direction: column;
    font-size: 25px;
    padding: 10px;
    background-color: aquamarine;
    margin: 5px;
    margin-top: 0px;
}

#res p {
    margin: 10px;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: '\2714 \fe0e';
}

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "\2718";
}

.shoot_wraper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 50vw;
    height: 50vh;

}

#bg_canvas {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    border: 1px solid black;

}

#fr_canvas {
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 1;
    border: 1px solid black;

}

#text {
    position: relative;
    width: 15%;
    height: 500px;

}

.menu-btn {
    border-radius: 5%;
    width: 100%;
    height: 60px;
    outline: none;
    background-color:  aquamarine;
    font-family: gameover;
    font-size: 25px;

}

#timer {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 20%;
    z-index: 2;
    opacity: 0.3;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15vw;

}

#timerText {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    color: mediumspringgreen;
}

@font-face {
    font-family: gameover;
    src: url(fonts/18918.ttf);
}

.show {
    display: block;
    animation: showBlock 1.5s linear forwards;
}

.showToOpa1 {
    display: block;
    animation: showBlockto1 1.5s linear forwards;
}
.hide {
    display: block;
    animation: hideBlock 1.5s linear forwards;
}

@keyframes showBlockto1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes showBlock {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.7;
    }
}

@keyframes hideBlock {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#game-over {
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-color: red;
    border-style: dotted;
    text-decoration-color: red;
    font-family: gameover;
    font-size: 50px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    opacity: 0;
    background-color: aquamarine;
}

#pause {
    display: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;
    border-color: salmon;
    border-style: dotted;
    text-decoration-color: firebrick;
    font-family: gameover;
    font-size: 50px;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    opacity: 1;
    background-color: aquamarine;
}

